#profit{
    text-align: center;
    border: 25px solid red;
    background-color: #FFFFFF;
    height: 300px;
    border-radius:50%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
 
    
   
}
#profit:hover{

    height: 600px;
    transition: width 2s, height 4s;

    width: 600px;

 
    
   
}